* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {}

.btn--connect {}

.btn--switch-exchange {}

.btn--exchange {}

.wallet-address {
  display: none;
}

.exchange {}

.exchange__form {}

.exchange__form__item {}

.exchange__form__item--from {}

.exchange__form__item--to {}

.exchange__form__switch {}

.exchange__form__summary {}